body {
  padding-top:50px;
}
.navbar-inner {-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.navbar-inner .container {text-align:center;}
.navbar .brand {float:none;display:inline-table;}
.nav-tabs.nav-stacked {margin-bottom:10px;}
.alert {margin-bottom:10px;}
h5,h4 {margin :3px 0}
p {margin: 0 0 0px;}

@media (max-width: 767px) {
  body {
    padding-top:0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-right: 0px;
    margin-left: 0px;
  }
}
