body {
  padding-top:60px;
}
.navbar-inner {-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;position:relative;}
.nav-tabs.nav-stacked {margin-bottom:10px;}
.navbar .brand {font-weight:400;color:#555;text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
-webkit-transition: all .2s linear;};
.navbar .brand:hover {color:#ddd;}
.alert {margin-bottom:10px;}
div.label,
span.label {width:18px;float:left;text-align:center;padding:2px 3px 2px 4px;margin:-2px 5px 0px 0px;}
td {font-size:90%;color:#777;}
td small {font-size:90%;overflow:hidden;float:left;width:88%;}
td small small {float:none;font-size:80%;color:#999;}
.table {margin-bottom:10px;}
.table th, .table td {border-top:solid 1px #fff;line-height:normal;padding-top:10px;padding-bottom:10px;}
.nav-tabs.nav-stacked > li > a {font-size:90%;}
#top-nav {float:left;}
.navbar .btn-navbar.reload {display:inline;}
h5,h4,h1 {margin-top :-8px}
h5 {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
p {margin: 0 0 5px;}
.icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
#map_canvas {margin-top:16px;}
@media (max-width: 979px) and (min-width: 768px) {
.container {width:auto;}
}
@media (max-width: 767px) {
  body {padding-top:0px;padding-left:10px;padding-right:10px;}
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: -10px;
    margin-right: -10px;
  }
  /*#routes {height:170px !important;overflow-y:auto;}*/
  /*.predictions {width:60% !important;float:left !important;}*/
  /*#map {width:38%;float:right;}*/
  /*#map_canvas {margin-top:0;height:170px !important;}*/
}

@media (max-width: 979px) {
  body {padding-top:0px;}
  .btn-navbar.reload {position:absolute !important;right:50px !important;}
  .row {margin-left: 0px;}
}

@media only screen and (max-width : 320px) {
  body {margin-bottom:85px;}
  #routes {height:300px;overflow-y:auto;}
  #routes.predictions {height:150px;margin-bottom:5px;}
  #map_canvas {height:170px !important;margin-top:0px;}
  div.label {padding-bottom:5px;}
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (max-device-width:480px) {  
  body {margin-bottom:85px;}
  #routes {height:170px !important;overflow-y:auto;}
  .predictions {width:60% !important;float:left !important;}
  #map {width:38%;float:right;}
  #map_canvas {margin-top:0;height:170px !important;}
  div.label {margin-top:-1px;padding-bottom:5px;}
}
