body {
  padding-top:45px;
}
.navbar-inner {-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.nav-tabs.nav-stacked {margin-bottom:10px;}
.alert {margin-bottom:10px;}
div.label {width:20px;float:left;text-align:center;margin:0px 5px;}
td {font-size:90%;color:#999;}
td small {font-size:70%;}
.table {margin-bottom:10px;}
.table th, .table td {border-top:solid 1px #fff;line-height:normal;}
.nav-tabs.nav-stacked > li > a {font-size:90%;}
h5,h4 {margin :3px 0}
p {margin: 0 0 0px;}
.icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
@media (max-width: 767px) {
  body {
    padding-top:0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .navbar .brand {float:none;}
  .navbar-inner .container {margin-left:5px;text-align:center;float:none;}
}

@media (max-width: 979px) {
  body{padding:0}
  .navbar-fixed-top {
    margin-bottom: 5px;
  }
  .container {
    /*padding: 10px;*/
    margin-right:10px;
    margin-left:10px;
  }
  .navbar .container {margin-left:auto;margin-right:auto;}
}
@media only screen and (max-width : 320px) {
/* Styles */
  #routes {height:260px;overflow-y:auto;}
  #routes.predictions {height:200px;}
}
/* Smartphones (landscape) ----------- */
@media only screen and (max-device-width : 481px) {
  /*#routes {height:120px;overflow-y:auto;}*/
  /*#routes.predictions {height:90px;}*/
}

